---
title: "Events"
layout: default
sitemap: false
permalink: /events.html
---
<h1>Current/planned events</h1>

<ul class="list-unstyled">
    {% for article in site.data.events %}
        {% if article.status != "past" %}
        <li class="media">
            <div class="media-body">
            <h4 class="mt-0 mb-1">{{ article.title }}</h4>
            <p><small>{{ article.date }}</small></p>
            <a href="{{ article.url }}">Link</a>
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>


<h1>Past events</h1>

<ul class="list-unstyled">
    {% for article in site.data.events %}
        {% if article.status == "past" %}
        <li class="media">
            <div class="media-body">
            <h4 class="mt-0 mb-1">{{ article.title }}</h4>
            <p><small>{{ article.date }}</small></p>
            <a href="{{ article.url }}">Link</a>
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>
