---
title: "Team"
layout: default
excerpt: "UUCSSLab - people"
sitemap: false
permalink: /people/
---

<!--h1>{{page.title}}</h1-->

<!-- Staff -->

<h2><a id="staff"></a>Staff</h2>
{% for person in site.data.staff %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{person.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/projects/{{ person.pic }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: grayscale(100%); max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ person.name }}</h4>
            <p class="card-text">{{ person.title }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Students -->

<h2><a id="student"></a>PhD Students</h2>
{% for person in site.data.students %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{person.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/projects/{{ person.pic }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: grayscale(100%); max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ person.name }} </h4>
            <p class="card-text">{{ person.title }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
