---
title: "Research"
layout: default
excerpt: "UUCSSLab - research"
sitemap: false
permalink: /research/
---

<h1>{{page.title}}</h1>

<!-- Staff -->

{% assign projects = site.projects | where: 'category', 'staff' | sort: 'surname' %}
{% for project in projects %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{project.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/projects/{{ project.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: grayscale(100%); max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ project.shortname }}</h4>
            <p class="card-text">{{ project.shorttext }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Students -->

<h2><a id="student"></a>PhD Students</h2>
{% assign members = site.posts | where: 'category', 'student' | sort: 'surname' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.webpage}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: grayscale(100%); max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.name }} {{ member.surname }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>

{% endfor %}
